# Tarea Nro. 2 - PANDAS

- Nombre y Apellido: Cristhian Michael Jimenez Jimenez
- Fecha:             16/nov/2020

En esta tarea se examinara datos de terremotos. Comience importando pandas, numpy y matplolib.

Los datos de los terremotos están localizados en usgs_terremotos_2014.csv. Ni siquiera necesita descargalo, puede abrilo directamente con Pandas.

A continuación resuelva los siguientes items.

### 1) Use la función read_csv de Pandas directamente en esta url para abrirla como un DataFrame

(No use ninguna opción especial). Mostrar las primeras filas y la información del marco de datos.
Debería haber visto que las fechas no se analizaron automáticamente en tipos de fecha y hora.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

# Lectura de datos
data = pd.read_csv('usgs_terremotos_2014.csv', parse_dates=['time'], index_col='time', sep=',', na_values='')
data.head(5)

,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
time,,,,,,,,,,,,,,
2014-01-31 23:53:37.000,60.252000,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
2014-01-31 23:48:35.452,37.070300,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
2014-01-31 23:47:24.000,64.671700,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
2014-01-31 23:30:54.000,63.188700,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
2014-01-31 23:30:52.210,32.616833,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake

### 2) Vuelva a leer los datos de tal manera que todas las columnas de fechas se identifiquen como fechas y la identificación del terremoto se use como índice

In [6]:
print ("hola")

hola

### 3) Obtener las estadísticas básicas de todas las columnas

In [7]:
data.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms
count,120108.000000,120108.000000,120107.000000,120065.000000,59688.000000,94935.000000,85682.000000,119716.000000
mean,38.399579,-99.961402,28.375029,1.793958,17.878284,124.048978,0.893198,0.358174
std,21.938258,82.996858,62.215416,1.343466,14.911369,68.518595,2.903966,0.364046
min,-73.462000,-179.998900,-9.900000,-0.970000,0.000000,9.000000,0.000000,0.000000
25%,34.228917,-147.742025,4.100000,0.820000,8.000000,74.000000,0.020760,0.070000
50%,38.805300,-120.832000,9.200000,1.400000,14.000000,107.000000,0.073670,0.200000
75%,53.889500,-116.068100,22.880000,2.400000,22.000000,155.000000,0.447000,0.590000
max,86.651400,179.998000,697.360000,8.200000,365.000000,356.400000,64.498000,8.460000

### 4) Obtener los 20 terremotos más importantes por magnitud

Examina la estructura de la columna `place`. La información del país parece estar allí. ¿Cómo lo sacarías?

In [64]:
# ordenamos de forma de
data.sort_values(by ='mag', ascending=False).head(20).place

time
2014-04-01 23:46:47.260                  94km NW of Iquique, Chile
2014-06-23 20:53:09.700    19km SE of Little Sitkin Island, Alaska
2014-04-03 02:43:13.110                  53km SW of Iquique, Chile
2014-04-12 20:14:39.300      93km SSE of Kirakira, Solomon Islands
2014-04-19 13:28:00.810       70km SW of Panguna, Papua New Guinea
2014-04-13 12:36:19.230       112km S of Kirakira, Solomon Islands
2014-10-14 03:51:34.460            74km S of Intipuca, El Salvador
2014-04-18 14:27:24.920               33km ESE of Petatlan, Mexico
2014-04-11 07:07:23.130      56km WSW of Panguna, Papua New Guinea
2014-11-15 02:31:41.720        154km NW of Kota Ternate, Indonesia
2014-11-01 18:57:22.380              144km NE of Ndoi Island, Fiji
2014-10-09 02:14:31.440                 Southern East Pacific Rise
2014-06-29 07:52:55.170              154km NNW of Visokoi Island,
2014-08-03 00:22:03.680      Federated States of Micronesia region
2014-06-23 19:19:15.940      80km SSE of Raoul Island, New Zealand
2014-02-12 09:19:49.060                  272km ESE of Hotan, China
2014-07-21 14:54:41.000              99km NNE of Ndoi Island, Fiji
2014-04-01 23:57:58.790                 91km WNW of Iquique, Chile
2014-05-24 09:25:02.440           22km SSW of Kamariotissa, Greece
2014-07-07 11:23:54.780             4km W of Puerto Madero, Mexico
Name: place, dtype: object

### 5) Extraiga el país utilizando las funciones de datos de texto de Pandas 

Agréguelo como una nueva columna al dataframe. (¿Es realmente solo un país? No, algunas filas tienen el nombre de un estado de EE. UU.) Corrija esto https://www.geeksforgeeks.org/python-pandas-working-with-text-data/. 

Otra librería que puede ser útil https://pypi.org/project/us/ para identificar si es un estado de EEUU es `us`

In [42]:
import us
# data['pais'] = 'Nan'
# data.head()
data.head()

,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,four,pais
time,,,,,,,,,,,,,,,,
2014-01-31 23:53:37.000,60.252000,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake,us,Nan
2014-01-31 23:48:35.452,37.070300,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake,us,Nan
2014-01-31 23:47:24.000,64.671700,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake,us,Nan
2014-01-31 23:30:54.000,63.188700,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake,us,Nan
2014-01-31 23:30:52.210,32.616833,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake,us,Nan

In [62]:
# 'casa' in ['house', 'hola', 'casa']
# import us
# us.states.STATES
lugar_place = str(data.place).split(',')
lugar_place
# Primero definimos la función para poder saber si un estado pertenece o no a 'us'
# def bucar_coindicendias(lugar_place):
    
#     return (x + 5) ** 2

['time\n2014-01-31 23:53:37.000    26km S of Redoubt Volcano',
 ' Alaska\n2014-01-31 23:48:35.452              32km S of Alamo',
 ' Nevada\n2014-01-31 23:47:24.000     12km NNW of North Nenana',
 ' Alaska\n2014-01-31 23:30:54.000           22km S of Cantwell',
 ' Alaska\n2014-01-31 23:30:52.210         10km WNW of Progreso',
 ' Mexico\n                                         ...                \n2014-12-01 00:10:16.000            29km SW of Valdez',
 ' Alaska\n2014-12-01 00:09:39.000     102km SSE of Old Iliamna',
 ' Alaska\n2014-12-01 00:09:25.350          9km WNW of Cobb',
 ' California\n2014-12-01 00:05:54.000             57km NW of Ester',
 ' Alaska\n2014-12-01 00:04:05.000          78km WSW of Cordova',
 ' Alaska\nName: place',
 ' Length: 120108',
 ' dtype: object']

In [32]:
import us
us.states.STATES

[<State:Alabama>,
 <State:Alaska>,
 <State:Arizona>,
 <State:Arkansas>,
 <State:California>,
 <State:Colorado>,
 <State:Connecticut>,
 <State:Delaware>,
 <State:Florida>,
 <State:Georgia>,
 <State:Hawaii>,
 <State:Idaho>,
 <State:Illinois>,
 <State:Indiana>,
 <State:Iowa>,
 <State:Kansas>,
 <State:Kentucky>,
 <State:Louisiana>,
 <State:Maine>,
 <State:Maryland>,
 <State:Massachusetts>,
 <State:Michigan>,
 <State:Minnesota>,
 <State:Mississippi>,
 <State:Missouri>,
 <State:Montana>,
 <State:Nebraska>,
 <State:Nevada>,
 <State:New Hampshire>,
 <State:New Jersey>,
 <State:New Mexico>,
 <State:New York>,
 <State:North Carolina>,
 <State:North Dakota>,
 <State:Ohio>,
 <State:Oklahoma>,
 <State:Oregon>,
 <State:Pennsylvania>,
 <State:Rhode Island>,
 <State:South Carolina>,
 <State:South Dakota>,
 <State:Tennessee>,
 <State:Texas>,
 <State:Utah>,
 <State:Vermont>,
 <State:Virginia>,
 <State:Washington>,
 <State:West Virginia>,
 <State:Wisconsin>,
 <State:Wyoming>]

In [33]:
'Alaska' in us.states.STATES

False

In [45]:
# str(us.states.STATES)
lugar = '26km S of Redoubt Volcano, Alaska'.split(',')#
lugar

# 'Washington' in str(us.states.STATES)

['26km S of Redoubt Volcano', ' Alaska']

### 6) Encuentra los 10 países con el mayor número de terremotos

### 7) Encuentra los 10 principales países donde ocurrieron los terremotos más fuertes y más débiles

### 8) Cree un conjunto de datos filtrado que solo tenga terremotos de magnitud 4 o mayores

### 9) Analice la distribución de las magnitudes del terremoto en la distribución filtrada
Haga un histograma del conteo del terremoto versus la magnitud. Asegúrese de usar una escala logarítmica.

### 10) Visualice la ubicación de los terremotos haciendo un diagrama de dispersión de su latitud y longitud.

#### Usa los datos filtrados. Coloréalo por magnitud.



Ej. plt.scatter(x, y, s=s, c=c, cmap=plt.cm.Oranges)

Con s y c podemos modificar el tamaño y el color respectivamente. Para el color, a cada valor numérico se le asigna un color a través de un mapa de colores; ese mapa se puede cambiar con el argumento cmap. Esa correspondencia se puede visualizar llamando a la función colorbar.

```

N = 100
x = np.random.randn(N)
y = np.random.randn(N)
s = 50 + 50 * np.random.randn(N)
c = np.random.randn(N)

plt.scatter(x, y, s=s, c=c, cmap=plt.cm.Blues)
plt.colorbar()

```
Ref. adicional para colores: https://github.com/lsantiago/PythonBasico/raw/d36d9571a1ff6a2df8364a9055f71d70eddd9151/NumpyMatplotlib/plot_colormaps.png

### 11) Haz lo mismo para la profundidad